sudo: false

language: go

go:
  - 1.6.x
  - 1.7.x
  - 1.8.x
  - tip

os:
  - linux

branches:
  only:
  - master
  - develop

matrix:
  fast_finish: true
  allow_failures:
    - go: tip

before_install:
  - make deps-test

script:
  - make test
